p{
    color:white;
}
h1{
    color:white;
}
h3{
    color:white;
}
#encabezado-cuatro{
    color:white;
}
#parrafo1{
    color:white;
}
#parrafo2{
    color:white;
}
#encabezado-tres{
    color:white;
}
. color-red{
    color:white;
}
body{
    background-image: url(https://i.pinimg.com/564x/96/f0/53/96f053817209833b4546318dd1cbaf8e.jpg)
}
. color-negro {
    color:white;
}
h2{
    color:red;
}
